{% extends 'layout.twig' %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Crée une nouvelle partie de chien perdu</h5>
                            <a role="button" class="btn btn-primary btn-lg btn-block mainButton" id="createRoom">Crée une partie</a>

                            <form action="" method="post" id="formCreateRoom">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Nom de votre partie (ex : Partie entre amis)" aria-label="nameRoom" id="nameRoom" name="nameRoom" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3" style="width: 60%; margin: auto;">
                                    <input type="text" class="form-control" placeholder="Votre pseudo durant la partie" aria-label="pseudoToCreate" name="pseudo" id="pseudoForCreate" class aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3" style="width: 30%; margin: auto;">
                                    <input type="text" class="form-control" placeholder="Nombre de joueurs maximum" aria-label="maxPlayerLimit" name="maxPlayerLimit" id="maxPlayerLimit" class aria-describedby="basic-addon1">
                                </div>
                                <div id="role-in-game"><div>
                                <input type="hidden" id="newRoom" name="newRoom" aria-describedby="basic-addon1" value="1">
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Rejoins une partie avec tes amis</h5>
                            <a role="button" class="btn btn-secondary btn-lg btn-block mainButton" id="joinRoom">Rejoindre une partie</a>

                            <form action="" method="post" id="formJoinRoom">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Nom de la partie à rejoindre (ex : Partie entre amis)" aria-label="roomToJoin" id="roomToJoin" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3" style="width: 60%; margin: auto;">
                                    <input type="text" class="form-control" placeholder="Votre pseudo durant la partie" aria-label="pseudoToJoin" name="pseudo" id="pseudoForJoin" aria-describedby="basic-addon1">
                                </div>
                                <input type="hidden" id="joinRoom" name="joinRoom" aria-describedby="basic-addon1" value="1">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-group">
        {% for key, cards in cardsRole %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ cards.role }}</h5>
                    <p class="card-text">{{ cards.description }}</p>
                    <div id="card-counter">
                        <button class="btn-incremented-counter" data-children-input="card_{{ key }}">+</button><input style="width: 20%; text-align: center" class="counter_card" id="card_{{ key }}" type="text" value="0"/><button class="btn-decremented-counter" data-children-input="card_{{ key }}">-</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
