{% extends '../index.twig' %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <p id="role"> Ton rôle : </p>
    <div class="head-list-people" i>
        <button id="name" type="button" class="btn btn-primary">
            <span class="badge badge-light" id="connected"></span> {{ nameRoom }}
        </button>
        <div class="list-people" id="list-people">

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel">
                    <div class="panel-body">
                        <ul class="chat">
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                            <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btn-chat">
                            Send</button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).on('ready', function() {
            var playerProfil = { pseudo : '{{ pseudo }}', admin : '{{ admin }}'};
            var roomProfil = { nameRoom : '{{ nameRoom }}', hasBeenCreate : '{{ hasBeenCreate }}'};

            joinRoom(playerProfil, roomProfil);
        });
    </script>
{% endblock %}