{% extends '../index.twig' %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="playerProfil" style="display: none">
        <input type="hidden" id="pseudo" value="{{ pseudo }}">
        <input type="hidden" id="admin" value="{{ admin }}">
    </div>
    <div id="gameRoomProfil" style="display: none">
        <input type="hidden" id="nameRoom" value="{{ nameRoom }}">
        <input type="hidden" id="hasBeenCreate" value="{{ hasBeenCreate }}">
        <input type="hidden" id="maxPlayerLimit" value="{{ maxPlayerLimit }}">
        <input type="hidden" id="cardsInGame" data-value="{{ cardsInGame }}">
    </div>

    {% if admin == 0 %}
        <p id="role"> Votre rôle est : </p>
    {% endif %}

    <div class="head-list-people" style="text-align: center">
        <span id="nameRoom">{{ nameRoom }}</span>
        <span id="ingame-user"></span>/<span id="limit-user"></span>

        <div class="list-people" id="list-people">
        </div>

        {% if admin == 1 %}
            <a class="btn btn-primary" href="#" role="button" id="btn-launch-game">Lancer la partie</a>
        {% endif %}
    </div>

    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel">
                    <div class="panel-body">
                        {% if admin == 1 %}
                            <ul class="chat">

                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="/js/utils.js"></script>
    <script type="module" src="/js/start_game.js"></script>

    {% if hasBeenCreate  == '1' %}
        <script type="module" src="/js/create_game_room.js"></script>
    {% else %}
        <script type="module" src="/js/join_game.js"></script>
    {% endif %}
{% endblock %}