{% extends '../index.twig' %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="playerProfil" style="display: none">
        <input type="hidden" id="pseudo" value="{{ pseudo }}">
        <input type="hidden" id="admin" value="{{ admin }}">
    </div>
    <div id="gameRoomProfil" style="display: none">
        <input type="hidden" id="nameRoom" value="{{ nameRoom }}">
        <input type="hidden" id="hasBeenCreate" value="{{ hasBeenCreate }}">
        <input type="hidden" id="maxPlayerLimit" value="{{ maxPlayerLimit }}">
        <input type="hidden" id="cardsInGame" data-value="{{ cardsInGame }}">
    </div>
    <div class="room-container">
        <div class="lobby-div">
            <h2 class="head-title-lobby">LOBBY</h2>

            <div class="game-informations" style="text-align: center">
                <div class="informations-staging">
                    <span id="nameRoom">{{ nameRoom }}</span><br>
                    <span id="ingame-user"></span>/<span id="limit-user"></span> joueur(s)
                </div>

                <div class="list-people" id="list-people">
                </div>

                {% if admin == 1 %}
                    <a class="btn btn-primary" href="#" role="button" id="btn-launch-game">Lancer la partie</a>
                {% endif %}
            </div>
        </div>

        <div class="in-game-div">
            <h2 class="head-title-lobby">IN GAME</h2>

            {% if admin == 0 %}
                <div class="in-game-player-div">
                    <div class="container-game-cards player-cards">
                        <div class="container-card inactive">
                            <div class="game-card">
                                <div class="side front">
                                    <div class="img img3"></div>
                                    <div class="info">
                                        <h2>{{ pseudo }}</h2>
                                        <p class="card-instruction">Cliquez sur la carte pour découvrir votre rôle. Ne le montrez à personne !</p>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="info">
                                        <h2 id="role"></h2>
                                        <ul>
                                            <li>Compétence N°1</li>
                                            <li>Compétence N°3</li>
                                            <li>Compétence N°2</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if admin == 1 %}
                <div class="in-game-admin-div">
                    <div class="container-game-cards admin-cards row">
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="/js/game_infos.js"></script>
    <script type="module" src="/js/start_game.js"></script>

    {% if hasBeenCreate  == '1' %}
        <script type="module" src="/js/create_game_room.js"></script>
    {% else %}
        <script type="module" src="/js/join_game.js"></script>
    {% endif %}
{% endblock %}